.modal{
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: var(--clr-white);
    display: none;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
    z-index: 4;
}

.modal__close{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2.4rem;
    padding: 1.6rem;
    cursor: pointer;
}

.slider{
    position: relative;
}

.slider-image__number{
    position: absolute;
    background: var(--clr-black);
    font-size: 1.4rem;
    padding: .2rem;
    margin-left: .8rem;
    margin-top: .8rem;
}

.slider-buttons{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.slider-buttons__btn-prev, .slider-buttons__btn-next{
    font-size: 2.4rem;
    padding: 1.6rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: var(--transition);
}

.slider-buttons__btn-prev:hover, .slider-buttons__btn-next:hover{
    color: var(--clr-medium-green);
}

.slider-image-description{
    background: var(--clr-black);
    text-align: center;
}

.slider-thumbs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.slider-thumbs__img{
    position: relative;
    flex: 0 0 25%;
    cursor: pointer;
}

.slider-thumbs__img::before{
    content: '';
    position: absolute;
    background: var(--clr-black);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
}

.slider-thumbs__img:hover.slider-thumbs__img::before{
    opacity: 0;
}

.slider-thumbs__img--active.slider-thumbs__img::before{
    opacity: 0;
}

@media screen and (min-width: 600px){
    .modal{
        padding: 5.6rem;
    }
}

@media screen and (min-width: 900px){
    .modal{
        padding: 1.6rem;
    }

    .slider-thumbs__img{
        flex: 1;
        max-width: 10rem;
    }
}