.newsletter-c{
    padding: 4rem 0;
}

.newsletter-info__titulo{
    font-size: 2.8rem;
    font-weight: 600;
}

.newsletter-info__descricao{
    font-weight: 300;
    font-size: 2.4rem;
    font-style: italic;
    line-height: 1.2;
    margin: .8rem 0;
}

.newsletter-form{
    display: flex;
    flex-wrap: wrap;
}

.newsletter-form__input{
    flex: 3 1 37rem;
    font-size: 1.8rem;
    height: 6rem;
    color: var(--clr-black);
    border: none;
    padding: 1rem;
    border-radius: 0;
}

.newsletter-form__submit{
    flex: 1;
    font-size: 3.6rem;
    font-weight: 600;
    text-transform: uppercase;
    background: var(--clr-medium-green);
    color: var(--clr-white);
    cursor: pointer;
    border: none;
    letter-spacing: 1.2rem;
    padding: 1.6rem;
    transition: var(--transition);
}

.newsletter-form__submit:hover{
    letter-spacing: .6rem;
}

@media screen and (min-width: 589px) {
    .newsletter-c{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }  
    
    .newsletter-info, .newsletter-form{
        flex: 1 1 26rem;
    }
}

@media screen and (min-width: 950px) {
    .newsletter-form__input{
        flex: 1;
        height: auto;
        margin-right: 3rem;
    }

    .newsletter-form__submit{
        font-size: 2.8rem;
    }
}

@media  screen and (min-width: 960px) {
    .newsletter-form__input{
        flex: 2;
    }
    
}

